.app {
    display:flex;
    height:100vh;
    gap:var(12px);
    box-sizing:border-box;
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% -40px);
    width: calc((100% - var(--page_width))/2 - 30px);
    max-width: 250px;
    margin: 20px;
    padding: 10px 20px 20px 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../assets/global/background.jpg);
    background-size: cover;
    background-position: center;
    box-shadow:0 6px 20px rgba(0,0,0,0.6);
}
    .status{
        display: block;
        width: 100%;
        padding: 10px 0;
        font-size:var(--p-police-size);
        text-align: center;
    }
    .logo {
        height: 50px;
        margin-right: 10px;
        margin-left: 30px;
    }
    .summary-title{
        font: var(--title2-police-size) var(--title-police);
        margin-bottom: 10px;
        color: var(--text-color);
        justify-content: center;
    }
    .summary a {
        display: flex;
        margin-bottom: 10px;
    }
    .summary a .summary-title {
        margin: auto 0 0 0;
        font-size: 36px;
    }
    .summary-list{
        padding-left: 10px;
        list-style:none;
        overflow-y: auto;
    }
        .summary-list li{
            margin:6px 0;
            transition: 0.05s ease-in-out;
        }
        .summary-list li:hover{
            margin-left: 3px;
        }
        .summary-link{
            font-size: var(--p-police-size);
            text-decoration: none;
            color: var(--text-color);
        }
        .summary-link:hover{
            color: var(--main-color);
        }
    .summary .line {
        margin: 10px 0;
    }
    .thumbs{
        padding: auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-height: 40%;
        min-height: 20%;
        margin: 10px 0 10px 10px;
        padding-right: 10px;
        overflow-x: visible;
        overflow-y: auto;
        scrollbar-width: thin;
    }
        .thumb {
            width: calc(50% - 5px);
            height: fit-content;
            margin-bottom: 10px;
            background:#111;
            display:flex;
            align-items:center;
            justify-content:center;
            color:var(--muted);
            border: 1px solid var(--third-color);
            cursor:pointer;
        }
        .thumb:hover {
            transform: scale(0.98);
        }
        
    .controls{
        width: calc(100% - 20px);
        margin: 0 auto;
        display:flex;
        justify-content: space-between;
        font-size: var(--p-police);
    }
        .ctrl-space {
            margin-bottom: 10px;
        }
            
            #prev,
            #next,
            #zoom-in,
            #zoom-out {
                aspect-ratio: 1;
                padding: 0 0 3px 0;
            }
            #page-num {
                width: 30px;
                text-align: center;
                justify-content: center;
                border: 0;
                font-size: var(--p-police);
            }
            #zoom {
                width: 50px;
                text-align: center;
                border: 0;
                font-size: var(--p-police);
            }
            #fit-width {
                padding: 0 5px;
                font-size: var(--p-police);
            }
            #download {
                width: 100%;
                font-size: var(--p-police);
            }


.main {
    flex:1;
    display:flex;
    flex-direction:column;
    gap:8px;
}
    .viewer-wrap{
        margin: 20px 0;
        display:flex;
        flex-direction:column;
        align-items:center;
        flex:1;
        overflow:auto;
    }
        .page-container{
            margin-top: 20px;
        }
            #page-1 {
                margin-top: 80px;
            }
            canvas{
                display:block;
                max-width:100%;
                height:auto
            }
    .hidden{
        display:none
    }