.page.error {
    padding-top: 70px;
    height: 80%;
}
.body.error {
    flex-direction: column
}
    .error-title {
        margin-top: 5dvh;
        font-size:68px;
        color: var(--font-color);
        text-align: center;
    }
    .error-text {
        margin-top: 1dvh;
        font-size:28px;
        color: var(--font-color);
        text-align: center;
    }

    .button-error {
        width: 20%;
        margin: 5dvh auto 0 auto;
        padding: 12px 15px;
        border-radius: 20px;
        font: 16px "Alice", calibri;
        color: rgb(255, 255, 255);
        text-align: center;
        background: var(--background-color);
        transition: 0.2s;
    }
    .button-error:hover {
        background: var(--main-color);
    }