.page.error {
    padding: 100px 25px 200px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.body.error {
    flex-direction: column
}
    .error-title {
        margin-top: 5dvh;
        font-size: var(--title-police-size);
        color: var(--font-color);
        text-align: center;
    }
    .error-text {
        margin-top: 1dvh;
        font-size: var(--subtitle-police-size);
        color: var(--font-color);
        text-align: center;
    }

